{
  "openapi": "3.0.3",
  "info": {
    "title": "nuVizz API",
    "contact": {},
    "license": {
      "name": "nuVizz SaaS License"
    },
    "version": "7.0",
    "x-logo": {
      "url": "../images/nudeliverit-api.png",
      "backgroundColor": "#FFFFFF",
      "altText": "nuVizz"
    }
  },
  "servers": [
    {
      "url": "https://contact-support.nuvizz.com/deliverit/openapi/v7"
    }
  ],
  "security": [
    {
      "BasicAuthentication": []
    }
  ],
  "tags": [
    {
      "name": "Change Log",
      "description": "# API Change Log\n\n| Version | Date | Changes | Comments |\n| --- | --- | --- | --- |\n| 6.1.0 | Jun 16, 2021 | Initial Version | \n| 6.1.1 | Feb 8, 2022 | Updated Stop Info and Load Info API |\n| 7.0.1 | Jun 15 2022 | Documents can be added to Pickup and Delivery |\n| 7.0.2 | Jun 27 2022 | New API End point for route Plan |\n| 7.4.0 | Jan 04 2023 | timeConstraint default value updated to Strict |\n"
    },
    {
      "name": "Terminology",
      "description": "The document assumes native nuVizz TMS field-naming conventions. nuVizz TMS can be used in a wide variety of business delivery application and the field names represented here may not directly represent the use of these fields in your specific application.\n\nIt is recommended to read this document along with the understanding of integration of inbound interfaces.\n\n\n| Document Terminology | nuVizz TMS Use | Associated Industry Terminology |\n| --- | ---| --- |\n|Stop|Destination for performing work activities such as delivery, pickup, service, field work etc.|Customer location, destination, site.|\n|Load|A sequence of stops combined and assigned to a person. The load contains all the stops in the sequence.|Work schedule, Route, truck path, delivery run, service run.|\n|Driver|Represents the personnel deployed for the Load|Driver, trucker, delivery man, technician|\n|Comments|Set of instructions sent to the driver. Comments can be associated with the stop or the load. Note: Only specific comment types are sent to the driver.|Special instructions, delivery instructions, Customer request.|\n|Product Identifier|Used to uniquely identify the product during delivery/pickup or use. This could represent the bar code if scanning is used in the system.|SKU barcode, Package barcode, Item barcode, service number, part, pickup tracking number, delivery tracking number.|\n|Host|This indicates your server from which orders or routes will be sent to nuVizz TMS server|Server|\n"
    },
    {
      "name": "Customer Order API",
      "description": "Multi-Leg Order API provides creation on single or multiple legs of transportation from PickUp to Delivery cross-docking through multiple-hubs.\n"
    },
    {
      "name": "Auth API",
      "description": "These APIs provide authorization info required to execute webservices."
    },
    {
      "name": "Order-Stop Billing",
      "description": "These APIs provide for Stop/Order billing information. These include\n* Estimation\n* Final Charges\n"
    },
    {
      "name": "Doc Map API",
      "description": "Mapping Doc data to Stop\n"
    },
    {
      "name": "Vendor Master API"
    },
    {
      "name": "Events API"
    }
  ],
  "paths": {
    "/load/info/{loadNbr}/{companyCode}": {
      "get": {
        "tags": [
          "Load API"
        ],
        "summary": "Load Information",
        "operationId": "getLoadDetail",
        "description": "If the Load ID exists then it will return the load info\nalong with events. \n",
        "parameters": [
          {
            "in": "path",
            "name": "companyCode",
            "description": "Company code to which the Load belongs",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 50
            }
          },
          {
            "in": "path",
            "name": "loadNbr",
            "description": "Unique alphanumeric value used to refer a Load",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoadInfoSuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request; request contains invalid data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImportFailureReason"
                }
              }
            }
          },
          "401": {
            "description": "You are not authorized to access the resource",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImportFailureReason"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden; You don't have access to access this resource",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImportFailureReason"
                }
              }
            }
          },
          "404": {
            "description": "The resource you were trying to reach is not found\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImportFailureReason"
                }
              }
            }
          },
          "409": {
            "description": "No information available for the provided request parameters.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImportFailureReason"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests; You have sent to many requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImportFailureReason"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImportFailureReason"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImportFailureReason"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "java",
            "source": "// Import classes:\nimport com.nuvizz.openapi.inbound.handler.ApiClient;\nimport com.nuvizz.openapi.inbound.handler.ApiException;\nimport com.nuvizz.openapi.inbound.handler.Configuration;\nimport com.nuvizz.openapi.inbound.handler.auth.*;\nimport com.nuvizz.openapi.inbound.handler.models.*;\nimport com.nuvizz.openapi.inbound.handler.LoadApiApi;\n\npublic class Example {\n  public static void main(String[] args) {\n    ApiClient defaultClient = Configuration.getDefaultApiClient();\n    defaultClient.setBasePath(\"https://contact-support.nuvizz.com/api-gateway/webservices/nudeliverit/v5\");\n\n   // Configure HTTP basic authorization: Basic Authentication\n  HttpBasicAuth Basic Authentication = (HttpBasicAuth) defaultClient.getAuthentication(\"Basic Authentication\");\n  Basic Authentication.setUsername(\"YOUR USERNAME\");\n  Basic Authentication.setPassword(\"YOUR PASSWORD\");\n\n  LoadApiApi apiInstance = new LoadApiApi(defaultClient);\n  String companyCode = \"companyCode_example\"; // String | Company code to which the Load belongs to\n  String loadNbr = \"loadNbr_example\"; // String | Unique alphanumeric value used to refer a Load\n  try {\n    LoadInfoSuccessResponse result = apiInstance.getLoadDetail(companyCode, loadNbr);\n    System.out.println(result);\n  } catch (ApiException e) {\n    System.err.println(\"Exception when calling LoadApiApi#getLoadDetail\");\n    System.err.println(\"Status code: \" + e.getCode());\n    System.err.println(\"Reason: \" + e.getResponseBody());\n    System.err.println(\"Response headers: \" + e.getResponseHeaders());\n    e.printStackTrace();\n    }\n  }\n}\n"
          }
        ]
      }
    },
    "/load/update/{serviceName}/{companyCode}": {
      "post": {
        "tags": [
          "Load API"
        ],
        "summary": "Load import",
        "description": "Imports the load in asynchronous mode.\n",
        "operationId": "asyncLoadImportProcess",
        "parameters": [
          {
            "name": "serviceName",
            "in": "path",
            "description": "serviceName refer to custom integration for the company, set to \"default\" if not using a custom integration",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 100
            }
          },
          {
            "name": "companyCode",
            "in": "path",
            "description": "Company Code to which the Load belongs to",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImportResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request; request contains invalid data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImportFailureReason"
                }
              }
            }
          },
          "401": {
            "description": "You are not authorized to access the resource",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImportFailureReason"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden; You don't have access to access this resource",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImportFailureReason"
                }
              }
            }
          },
          "404": {
            "description": "The resource you were trying to reach is not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImportFailureReason"
                }
              }
            }
          },
          "415": {
            "description": "Unsupported Media Type, server refused to accept a request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImportFailureReason"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests; You have sent to many requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImportFailureReason"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImportFailureReason"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImportFailureReason"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "java",
            "source": "// Import classes:\nimport com.nuvizz.openapi.inbound.handler.ApiClient;\nimport com.nuvizz.openapi.inbound.handler.ApiException;\nimport com.nuvizz.openapi.inbound.handler.Configuration;\nimport com.nuvizz.openapi.inbound.handler.auth.*;\nimport com.nuvizz.openapi.inbound.handler.models.*;\nimport com.nuvizz.openapi.inbound.handler.LoadApiApi;\n\n  public class Example {\n   public static void main(String[] args) {\n   ApiClient defaultClient = Configuration.getDefaultApiClient();\n   defaultClient.setBasePath(\"https://contact-support.nuvizz.com/api-gateway/webservices/nudeliverit/v5\");\n\n    // Configure HTTP basic authorization: Basic Authentication\n    HttpBasicAuth Basic Authentication = (HttpBasicAuth) defaultClient.getAuthentication(\"Basic Authentication\");\n    Basic Authentication.setUsername(\"YOUR USERNAME\");\n    Basic Authentication.setPassword(\"YOUR PASSWORD\");\n\n    LoadApiApi apiInstance = new LoadApiApi(defaultClient);\n    String serviceName = \"serviceName_example\"; // String | serviceName refer to custom integration for the company, set to \\\"default\\\" if not using a custom integration\n    String companyCode = \"companyCode_example\"; // String | Company Code to which the Load belongs to\n    DeliverItLoad deliverItLoad = new DeliverItLoad(); // DeliverItLoad | importRequest\n    try {\n          ImportResponse result = apiInstance.asyncLoadImportProcess(serviceName, companyCode, deliverItLoad);\n      System.out.println(result);\n    } catch (ApiException e) {\n         System.err.println(\"Exception when calling LoadApiApi#asyncLoadImportProcess\");\n         System.err.println(\"Status code: \" + e.getCode());\n         System.err.println(\"Reason: \" + e.getResponseBody());\n         System.err.println(\"Response headers: \" + e.getResponseHeaders());\n         e.printStackTrace();\n         }\n        }\n      }\n"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeliverItLoad"
              },
              "examples": {
                "Package": {
                  "$ref": "#/components/examples/Package"
                },
                "LoadAPIExample": {
                  "$ref": "#/components/examples/LoadAPIExample"
                },
                "Carton": {
                  "$ref": "#/components/examples/Carton"
                }
              }
            }
          },
          "description": "importRequest",
          "required": true
        }
      }
    },
    "/load/assign/carrier/{loadNbr}/{companyCode}": {
      "post": {
        "tags": [
          "Load API"
        ],
        "summary": "Assign Load to a Carrier",
        "description": "Assign a Load to a Carrier/Bussiness Partner by specifying the CarrierCode of the carrier.\n",
        "operationId": "syncCarrierAssignmentProcess",
        "parameters": [
          {
            "name": "companyCode",
            "in": "path",
            "description": "Company Code to which the Load belongs",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 50
            }
          },
          {
            "in": "path",
            "name": "loadNbr",
            "description": "Unique alpha numeric value used to refer a Load",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImportResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request; request contains invalid data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImportFailureReason"
                }
              }
            }
          },
          "401": {
            "description": "You are not authorized to access the resource",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImportFailureReason"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden; You don't have access to access this resource",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImportFailureReason"
                }
              }
            }
          },
          "404": {
            "description": "The resource you were trying to reach is not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImportFailureReason"
                }
              }
            }
          },
          "415": {
            "description": "Unsupported Media Type, server refused to accept a request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImportFailureReason"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests; You have sent to many requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImportFailureReason"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImportFailureReason"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImportFailureReason"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "java",
            "source": "// Import classes:\nimport com.nuvizz.openapi.inbound.handler.ApiClient;\nimport com.nuvizz.openapi.inbound.handler.ApiException;\nimport com.nuvizz.openapi.inbound.handler.Configuration;\nimport com.nuvizz.openapi.inbound.handler.auth.*;\nimport com.nuvizz.openapi.inbound.handler.models.*;\nimport com.nuvizz.openapi.inbound.handler.LoadApiApi;\n\n  public class Example {\n   public static void main(String[] args) {\n   ApiClient defaultClient = Configuration.getDefaultApiClient();\n   defaultClient.setBasePath(\"https://contact-support.nuvizz.com/api-gateway/webservices/nudeliverit/v5\");\n\n    // Configure HTTP basic authorization: Basic Authentication\n    HttpBasicAuth Basic Authentication = (HttpBasicAuth) defaultClient.getAuthentication(\"Basic Authentication\");\n    Basic Authentication.setUsername(\"YOUR USERNAME\");\n    Basic Authentication.setPassword(\"YOUR PASSWORD\");\n\n    LoadApiApi apiInstance = new LoadApiApi(defaultClient);\n    String companyCode = \"companyCode_example\"; // String | Company Code to which the Load belongs\n    String loadNbr = \"loadNbr_example\"; // String | Unique alpha numeric value used to refer a Load\n    CarrierAssignment carrierAssignment = new CarrierAssignment(); // CarrierAssignment | importReques\n    try {\n       ImportResponse result = apiInstance.syncCarrierAssignmentProcess(companyCode, loadNbr, carrierAssignment);\n       System.out.println(result);\n       } catch (ApiException e) {\n        System.err.println(\"Exception when calling LoadApiApi#syncCarrierAssignmentProcess\");\n        System.err.println(\"Status code: \" + e.getCode());\n        System.err.println(\"Reason: \" + e.getResponseBody());\n        System.err.println(\"Response headers: \" + e.getResponseHeaders());\n         e.printStackTrace();\n        }\n       }\n      }\n"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CarrierAssignment"
              }
            }
          },
          "description": "importRequest",
          "required": true
        }
      }
    },
    "/load/unassign/carrier/{loadNbr}/{companyCode}": {
      "post": {
        "tags": [
          "Load API"
        ],
        "summary": "Unassign Load from a carrier",
        "description": "Unassign a Load from the Carrier/BusinessPartner\n",
        "operationId": "syncCarrierUnassignmentProcess",
        "parameters": [
          {
            "name": "companyCode",
            "in": "path",
            "description": "Company Code of the Load/Route Owner",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 50
            }
          },
          {
            "in": "path",
            "name": "loadNbr",
            "description": "Unique alpha numeric value used to refer a Load",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImportResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request; request contains invalid data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImportFailureReason"
                }
              }
            }
          },
          "401": {
            "description": "You are not authorized to access the resource",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImportFailureReason"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden; You don't have access to access this resource",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImportFailureReason"
                }
              }
            }
          },
          "404": {
            "description": "The resource you were trying to reach is not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImportFailureReason"
                }
              }
            }
          },
          "415": {
            "description": "Unsupported Media Type, server refused to accept a request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImportFailureReason"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests; You have sent to many requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImportFailureReason"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImportFailureReason"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImportFailureReason"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "java",
            "source": "// Import classes:\nimport com.nuvizz.openapi.inbound.handler.ApiClient;\nimport com.nuvizz.openapi.inbound.handler.ApiException;\nimport com.nuvizz.openapi.inbound.handler.Configuration;\nimport com.nuvizz.openapi.inbound.handler.auth.*;\nimport com.nuvizz.openapi.inbound.handler.models.*;\nimport com.nuvizz.openapi.inbound.handler.LoadApiApi;\n\n  public class Example {\n   public static void main(String[] args) {\n   ApiClient defaultClient = Configuration.getDefaultApiClient();\n   defaultClient.setBasePath(\"https://contact-support.nuvizz.com/api-gateway/webservices/nudeliverit/v5\");\n\n    // Configure HTTP basic authorization: Basic Authentication\n    HttpBasicAuth Basic Authentication = (HttpBasicAuth) defaultClient.getAuthentication(\"Basic Authentication\");\n    Basic Authentication.setUsername(\"YOUR USERNAME\");\n    Basic Authentication.setPassword(\"YOUR PASSWORD\");\n\n    LoadApiApi apiInstance = new LoadApiApi(defaultClient);\n    String companyCode = \"companyCode_example\"; // String | Company Code of the Load/Route\n    String loadNbr = \"loadNbr_example\"; // String | Unique alpha numeric value used to refer a Load\n    CarrierAssignment carrierAssignment = new CarrierAssignment(); // CarrierAssignment | importReques\n    try {\n       ImportResponse result = apiInstance.syncCarrierUnassignmentProcess(companyCode, loadNbr, carrierAssignment);\n       System.out.println(result);\n       } catch (ApiException e) {\n        System.err.println(\"Exception when calling LoadApiApi#syncCarrierUnassignmentProcess\");\n        System.err.println(\"Status code: \" + e.getCode());\n        System.err.println(\"Reason: \" + e.getResponseBody());\n        System.err.println(\"Response headers: \" + e.getResponseHeaders());\n         e.printStackTrace();\n        }\n       }\n      }\n"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CarrierAssignment"
              }
            }
          },
          "description": "importRequest",
          "required": true
        }
      }
    },
    "/load/assign/driver/{companyCode}": {
      "post": {
        "tags": [
          "Load API"
        ],
        "summary": "Assign Load to a Driver",
        "description": "Assign a Load to a driver\n",
        "operationId": "syncDriverAssignmentProcess",
        "parameters": [
          {
            "name": "companyCode",
            "in": "path",
            "description": "Company Code of Load/Route",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 50
            }
          },
          {
            "in": "query",
            "name": "loadNbr",
            "description": "Unique alpha numeric value used to refer a Load.\n",
            "required": false,
            "schema": {
              "type": "string",
              "maxLength": 100
            }
          },
          {
            "in": "query",
            "name": "loadId",
            "description": "Unique alphanumeric Id generated in nuVizz TMS system to refer specific Load.\n\n<span style='color: red;'><b>Note: In query parameters either loadNbr or loadId is mandatory.</b></span>\n",
            "required": false,
            "schema": {
              "type": "string",
              "maxLength": 50
            }
          },
          {
            "in": "query",
            "name": "driverEmail",
            "description": "Email ID of Driver assigned.\n",
            "required": false,
            "schema": {
              "type": "string",
              "maxLength": 50
            }
          },
          {
            "in": "query",
            "name": "driverUserName",
            "description": "Refers to Driver User Name.\n\n<span style='color: red;'><b>Note: In query parameters either driverEmail or driverUserName is mandatory.</b></span>\n",
            "required": false,
            "schema": {
              "type": "string",
              "maxLength": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonAPIResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request; request contains invalid data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonAPIResponse"
                }
              }
            }
          },
          "401": {
            "description": "You are not authorized to access the resource",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonAPIResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden; You don't have access to access this resource",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonAPIResponse"
                }
              }
            }
          },
          "404": {
            "description": "The resource you were trying to reach is not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonAPIResponse"
                }
              }
            }
          },
          "415": {
            "description": "Unsupported Media Type, server refused to accept a request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonAPIResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests; You have sent to many requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonAPIResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonAPIResponse"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonAPIResponse"
                }
              }
            }
          }
        }
      }
    },
    "/load/unassign/driver/{companyCode}": {
      "post": {
        "tags": [
          "Load API"
        ],
        "summary": "Unassign Load to a Driver",
        "description": "Unassigning a a Load from a Driver\n",
        "operationId": "syncDriverUnassignmentProcess",
        "parameters": [
          {
            "in": "path",
            "name": "companyCode",
            "description": "Company Code of Load/Route",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 50
            }
          },
          {
            "in": "query",
            "name": "loadNbr",
            "description": "Unique alpha numeric value used to refer a Load.\n",
            "required": false,
            "schema": {
              "type": "string",
              "maxLength": 100
            }
          },
          {
            "in": "query",
            "name": "loadId",
            "description": "Unique alphanumeric Id generated in nuVizz TMS system to refer specific Load.\n\n<span style='color: red;'><b>Note: In query parameters either loadNbr or loadId is mandatory.</b></span>\n",
            "required": false,
            "schema": {
              "type": "string",
              "maxLength": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonAPIResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request; request contains invalid data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonAPIResponse"
                }
              }
            }
          },
          "401": {
            "description": "You are not authorized to access the resource",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonAPIResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden; You don't have access to access this resource",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonAPIResponse"
                }
              }
            }
          },
          "404": {
            "description": "The resource you were trying to reach is not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonAPIResponse"
                }
              }
            }
          },
          "415": {
            "description": "Unsupported Media Type, server refused to accept a request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonAPIResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests; You have sent to many requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonAPIResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonAPIResponse"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonAPIResponse"
                }
              }
            }
          }
        }
      }
    },
    "/load/cancel/{companyCode}": {
      "post": {
        "tags": [
          "Load API"
        ],
        "summary": "Cancel Load",
        "description": "Delete/Reject a Load that is unassigned from a Driver and move it to cancelled status\n",
        "operationId": "syncCancelProcess",
        "parameters": [
          {
            "name": "companyCode",
            "in": "path",
            "description": "Company Code of Load/Route",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonAPIResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request; request contains invalid data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonAPIResponse"
                }
              }
            }
          },
          "401": {
            "description": "You are not authorized to access the resource",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonAPIResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden; You don't have access to access this resource",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonAPIResponse"
                }
              }
            }
          },
          "404": {
            "description": "The resource you were trying to reach is not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonAPIResponse"
                }
              }
            }
          },
          "415": {
            "description": "Unsupported Media Type, server refused to accept a request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonAPIResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests; You have sent to many requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonAPIResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonAPIResponse"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonAPIResponse"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "java",
            "source": "// Import classes:\nimport com.nuvizz.openapi.inbound.handler.ApiClient;\nimport com.nuvizz.openapi.inbound.handler.ApiException;\nimport com.nuvizz.openapi.inbound.handler.Configuration;\nimport com.nuvizz.openapi.inbound.handler.auth.*;\nimport com.nuvizz.openapi.inbound.handler.models.*;\nimport com.nuvizz.openapi.inbound.handler.LoadApiApi;\n\n  public class Example {\n   public static void main(String[] args) {\n   ApiClient defaultClient = Configuration.getDefaultApiClient();\n   defaultClient.setBasePath(\"https://contact-support.nuvizz.com/api-gateway/webservices/nudeliverit/v5\");\n\n    // Configure HTTP basic authorization: Basic Authentication\n    HttpBasicAuth Basic Authentication = (HttpBasicAuth) defaultClient.getAuthentication(\"Basic Authentication\");\n    Basic Authentication.setUsername(\"YOUR USERNAME\");\n    Basic Authentication.setPassword(\"YOUR PASSWORD\");\n\n     LoadApiApi apiInstance = new LoadApiApi(defaultClient);\n     String companyCode = \"companyCode_example\"; // String | Company Code of Load/Route\n     CancelLoad cancelLoad = new CancelLoad(); // CancelLoad |\n    try {\n       ImportResponse result = apiInstance.syncCancelProcess(companyCode, cancelLoad);\n       System.out.println(result);\n       } catch (ApiException e) {\n        System.err.println(\"Exception when calling LoadApiApi#syncCancelProcess\");\n        System.err.println(\"Status code: \" + e.getCode());\n        System.err.println(\"Reason: \" + e.getResponseBody());\n        System.err.println(\"Response headers: \" + e.getResponseHeaders());\n         e.printStackTrace();\n        }\n       }\n      }\n"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CancelLoad"
              }
            }
          }
        }
      }
    },
    "/stop/info/{stopNbr}/{companyCode}": {
      "get": {
        "tags": [
          "Stop API"
        ],
        "summary": "Stop Information",
        "operationId": "getStopDetail",
        "description": "Details of a Stop/Order which is usually the product name, quantity, capacity constraints etc.\n",
        "parameters": [
          {
            "in": "path",
            "name": "companyCode",
            "description": "Company Code of Stop",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 50
            }
          },
          {
            "in": "path",
            "name": "stopNbr",
            "description": "Unique alpha numeric value used to refer a Stop/Order",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StopInfoSuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request; request contains invalid data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImportFailureReason"
                }
              }
            }
          },
          "401": {
            "description": "You are not authorized to access the resource",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImportFailureReason"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden; You don't have access to access this resource",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImportFailureReason"
                }
              }
            }
          },
          "404": {
            "description": "The resource you were trying to reach is not found\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImportFailureReason"
                }
              }
            }
          },
          "409": {
            "description": "No information available for the provided request parameters.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImportFailureReason"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests; You have sent to many requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImportFailureReason"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImportFailureReason"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImportFailureReason"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "java",
            "source": "// Import classes:\nimport com.nuvizz.openapi.inbound.handler.ApiClient;\nimport com.nuvizz.openapi.inbound.handler.ApiException;\nimport com.nuvizz.openapi.inbound.handler.Configuration;\nimport com.nuvizz.openapi.inbound.handler.auth.*;\nimport com.nuvizz.openapi.inbound.handler.models.*;\nimport com.nuvizz.openapi.inbound.handler.LoadApiApi;\n\n  public class Example {\n   public static void main(String[] args) {\n   ApiClient defaultClient = Configuration.getDefaultApiClient();\n   defaultClient.setBasePath(\"https://contact-support.nuvizz.com/api-gateway/webservices/nudeliverit/v5\");\n\n    // Configure HTTP basic authorization: Basic Authentication\n    HttpBasicAuth Basic Authentication = (HttpBasicAuth) defaultClient.getAuthentication(\"Basic Authentication\");\n    Basic Authentication.setUsername(\"YOUR USERNAME\");\n    Basic Authentication.setPassword(\"YOUR PASSWORD\");\n\n     StopApiApi apiInstance = new StopApiApi(defaultClient);\n     String companyCode = \"companyCode_example\"; // String | Company Code of Stop\n     String stopNbr = \"stopNbr_example\"; // String | Unique alpha numeric value used to refer a Stop/Order\n    try {\n       StopInfoSuccessResponse result = apiInstance.getStopDetail(companyCode, stopNbr);\n       System.out.println(result);\n       } catch (ApiException e) {\n        System.err.println(\"Exception when calling StopApiApi#getStopDetail\");\n        System.err.println(\"Status code: \" + e.getCode());\n        System.err.println(\"Reason: \" + e.getResponseBody());\n        System.err.println(\"Response headers: \" + e.getResponseHeaders());\n         e.printStackTrace();\n        }\n       }\n      }\n"
          }
        ]
      }
    },
    "/stop/info/{companyCode}": {
      "get": {
        "tags": [
          "Stop API"
        ],
        "summary": "Stop Info By Id",
        "operationId": "stopInfoById",
        "description": "Details of a Stop/Order which is usually the product name, quantity, capacity constraints etc.\n",
        "parameters": [
          {
            "in": "path",
            "name": "companyCode",
            "description": "Company Code which the Stop/Order belongs to.",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 50
            }
          },
          {
            "in": "query",
            "name": "stopId",
            "description": "Unique alpha numeric system generated id used to refer a Stop/Order",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 50
            }
          },
          {
            "in": "query",
            "name": "excludeFields",
            "required": false,
            "schema": {
              "type": "array",
              "maxItems": 10,
              "items": {
                "type": "string"
              },
              "example": [
                "stop_stopDetails",
                "stop_estimationInfo"
              ]
            },
            "description": "Exclude the specified fields in the response like StopDetails, ExecutionInfo\nexample: [\"stop_stopDetails\", \"stop_estimationInfo\"]\n"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StopInfoResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request; request contains invalid data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonAPIResponse"
                }
              }
            }
          },
          "401": {
            "description": "You are not authorized to access the resource",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonAPIResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden; You don't have access to access this resource",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonAPIResponse"
                }
              }
            }
          },
          "404": {
            "description": "The resource you were trying to reach is not found\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonAPIResponse"
                }
              }
            }
          },
          "409": {
            "description": "No information available for the provided request parameters.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonAPIResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests; You have sent to many requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonAPIResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonAPIResponse"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonAPIResponse"
                }
              }
            }
          }
        }
      }
    },
    "/stop/printShippingLabel/{companyCode}": {
      "get": {
        "tags": [
          "Stop API"
        ],
        "summary": "Fetch Shipping Label By Stop Number",
        "operationId": "printShippingLabelById",
        "description": "Base 64 Pdf shipping label based on the stop number.\n",
        "parameters": [
          {
            "in": "path",
            "name": "companyCode",
            "description": "Company Code which the Stop/Order belongs to.",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 50
            }
          },
          {
            "in": "query",
            "name": "stopNbr",
            "description": "stop number for the stop .",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 50
            },
            "example": "abc124568sf79fhjf"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StopPrintLabelResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request; request contains invalid data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonAPIResponse"
                }
              }
            }
          },
          "401": {
            "description": "You are not authorized to access the resource",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonAPIResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden; You don't have access to access this resource",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonAPIResponse"
                }
              }
            }
          },
          "404": {
            "description": "The resource you were trying to reach is not found\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonAPIResponse"
                }
              }
            }
          },
          "409": {
            "description": "No information available for the provided request parameters.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonAPIResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests; You have sent to many requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonAPIResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonAPIResponse"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonAPIResponse"
                }
              }
            }
          }
        }
      }
    },
    "/stop/infobyshipment/{companyCode}": {
      "get": {
        "tags": [
          "Stop API"
        ],
        "summary": "Stop Info By ShipmentNbr",
        "operationId": "StopInfoByShipmentNbr",
        "parameters": [
          {
            "name": "companyCode",
            "in": "path",
            "description": "Company Code which the shipment belongs to.",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 50
            }
          },
          {
            "name": "shipmentNbr",
            "in": "query",
            "description": "Alpha numeric value used to refer a shipment.",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 100
            }
          },
          {
            "name": "zipCode",
            "in": "query",
            "description": "zip code of ship to address of stop/order.",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 20
            }
          },
          {
            "name": "fromDTTM",
            "in": "query",
            "description": "Scheduled date and time in local format `yyyy-MM-ddTHH:mm:ss`.",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 22
            }
          },
          {
            "name": "toDTTM",
            "in": "query",
            "description": "Earliest Scheduled date and time in local format `yyyy-MM-ddTHH:mm:ss`.",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 22
            }
          }
        ],
        "description": "List of Stop/Order which is usually the product name, quantity, capacity constraints etc.\n",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StopInfoByShipmentResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request; request contains invalid data.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonAPIResponse"
                }
              }
            }
          },
          "401": {
            "description": "You are not authorized to access the resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonAPIResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden; You don't have access to access this resource",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonAPIResponse"
                }
              }
            }
          },
          "404": {
            "description": "The resource you were trying to reach is not found.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonAPIResponse"
                }
              }
            }
          },
          "409": {
            "description": "No information available for the provided request parameters.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonAPIResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests; You have sent to many requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonAPIResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonAPIResponse"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonAPIResponse"
                }
              }
            }
          }
        }
      }
    },
    "/stop/info/customer/{companyCode}": {
      "get": {
        "tags": [
          "Stop API"
        ],
        "summary": "Stop Info By Customer",
        "security": [
          {
            "Bearer": []
          },
          {
            "BasicAuthentication": []
          }
        ],
        "operationId": "StopInfoByCustomer",
        "description": "Fetch active stop information by query parameters",
        "parameters": [
          {
            "name": "companyCode",
            "in": "path",
            "description": "Company Code which the shipment belongs to.",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 50
            }
          },
          {
            "name": "custAccNbr",
            "in": "query",
            "description": "Alpha numeric value used to refer to a customer account",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 100
            }
          },
          {
            "name": "stopType",
            "in": "query",
            "description": "Pickup `PU` or Dropoff `DO`",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 2
            },
            "default": "PU"
          },
          {
            "name": "addrName",
            "in": "query",
            "description": "Address name of the address of stop/order.",
            "required": false,
            "schema": {
              "type": "string",
              "maxLength": 50
            }
          },
          {
            "name": "addrLabel",
            "in": "query",
            "description": "Address label of the address of stop/order.",
            "required": false,
            "schema": {
              "type": "string",
              "maxLength": 50
            }
          },
          {
            "name": "addr1",
            "in": "query",
            "description": "Line1 of the address of stop/order.",
            "required": false,
            "schema": {
              "type": "string",
              "maxLength": 100
            }
          },
          {
            "name": "city",
            "in": "query",
            "description": "City of the address of stop/order.",
            "required": false,
            "schema": {
              "type": "string",
              "maxLength": 35
            }
          },
          {
            "name": "state",
            "in": "query",
            "description": "State of the address of stop/order.",
            "required": false,
            "schema": {
              "type": "string",
              "maxLength": 20
            }
          },
          {
            "name": "zipCode",
            "in": "query",
            "description": "Zip code of the address of stop/order.",
            "required": false,
            "schema": {
              "type": "string",
              "maxLength": 20
            }
          },
          {
            "name": "fromDTTM",
            "in": "query",
            "description": "Scheduled start date and time in local format `yyyy-MM-ddTHH:mm:ss`.",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 22
            }
          },
          {
            "name": "toDTTM",
            "in": "query",
            "description": "Scheduled end date and time in local format `yyyy-MM-ddTHH:mm:ss`.",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 22
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StopInfoByCustomerResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request; request contains invalid data.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonAPIResponse"
                }
              }
            }
          },
          "401": {
            "description": "You are not authorized to access the resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonAPIResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden; You don't have access to access this resource",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonAPIResponse"
                }
              }
            }
          },
          "404": {
            "description": "The resource you were trying to reach is not found.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonAPIResponse"
                }
              }
            }
          },
          "409": {
            "description": "No information available for the provided request parameters.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonAPIResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests; You have sent to many requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonAPIResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonAPIResponse"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonAPIResponse"
                }
              }
            }
          }
        }
      }
    },
    "/stop/etainfo/{companyCode}": {
      "get": {
        "tags": [
          "Stop API"
        ],
        "summary": "PU & DO ETA Information",
        "operationId": "getPUDOEtaInfo",
        "description": "Return the pickup and delivery ETA Details of Stop/Order. \n",
        "parameters": [
          {
            "in": "path",
            "name": "companyCode",
            "description": "Company Code which the Stop/Order belongs to.",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 50
            }
          },
          {
            "in": "query",
            "name": "stopNbr",
            "description": "Unique alpha numeric value used to refer a Stop/Order.\n",
            "required": false,
            "schema": {
              "type": "string",
              "maxLength": 100
            }
          },
          {
            "in": "query",
            "name": "stopId",
            "description": "Unique alpha numeric system generated id used to refer a Stop/Order.\n\n<span style='color: red;'><b>Note: In query parameters either stopId or stopNbr is mandatory.</b></span>\n",
            "required": false,
            "schema": {
              "type": "string",
              "maxLength": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PUDOETAInfo"
                },
                "examples": {
                  "Driver Assignment": {
                    "$ref": "#/components/examples/ETAResponseExample"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request; request contains invalid data.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonAPIResponse"
                }
              }
            }
          },
          "401": {
            "description": "You are not authorized to access the resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonAPIResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden; You don't have access to access this resource",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonAPIResponse"
                }
              }
            }
          },
          "404": {
            "description": "The resource you were trying to reach is not found.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonAPIResponse"
                }
              }
            }
          },
          "409": {
            "description": "No information available for the provided request parameters.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonAPIResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests; You have sent to many requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonAPIResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonAPIResponse"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonAPIResponse"
                }
              }
            }
          }
        }
      }
    },
    "/stop/eta/{companyCode}": {
      "get": {
        "tags": [
          "Stop API"
        ],
        "summary": "ETA Information",
        "operationId": "getEta",
        "description": "Return the ETA Details of Stop/Order. \n",
        "parameters": [
          {
            "in": "path",
            "name": "companyCode",
            "description": "Company Code which the Stop/Order belongs to.",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 50
            }
          },
          {
            "in": "query",
            "name": "stopNbr",
            "description": "Unique alpha numeric value used to refer a Stop/Order.\n",
            "required": false,
            "schema": {
              "type": "string",
              "maxLength": 100
            }
          },
          {
            "in": "query",
            "name": "stopId",
            "description": "Unique alpha numeric system generated id used to refer a Stop/Order.\n\n<span style='color: red;'><b>Note: In query parameters either stopId or stopNbr is mandatory.</b></span>\n",
            "required": false,
            "schema": {
              "type": "string",
              "maxLength": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ETAResponse"
                },
                "examples": {
                  "Driver Assignment": {
                    "$ref": "#/components/examples/ETASuccessResponseExample"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request; request contains invalid data.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonAPIResponse"
                }
              }
            }
          },
          "401": {
            "description": "You are not authorized to access the resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonAPIResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden; You don't have access to access this resource",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonAPIResponse"
                }
              }
            }
          },
          "404": {
            "description": "The resource you were trying to reach is not found.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonAPIResponse"
                }
              }
            }
          },
          "409": {
            "description": "No information available for the provided request parameters.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonAPIResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests; You have sent to many requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonAPIResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonAPIResponse"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonAPIResponse"
                }
              }
            }
          }
        }
      }
    },
    "/stop/eventinfo/{companyCode}": {
      "get": {
        "tags": [
          "Stop API"
        ],
        "summary": "Event Information",
        "operationId": "getEventInfo",
        "description": "Return the event information of Stop/Order.\n",
        "parameters": [
          {
            "in": "path",
            "name": "companyCode",
            "description": "Company Code which the Stop/Order belongs to.",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 50
            }
          },
          {
            "in": "query",
            "name": "stopNbr",
            "description": "Unique alpha numeric value used to refer a Stop/Order.",
            "required": false,
            "schema": {
              "type": "string",
              "maxLength": 100
            }
          },
          {
            "in": "query",
            "name": "stopId",
            "description": "Unique alpha numeric system generated id used to refer a Stop/Order.\n\n<span style='color: red;'><b>Note: In query parameters either stopId or stopNbr is mandatory.</b></span>\n",
            "required": false,
            "schema": {
              "type": "string",
              "maxLength": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventInfoResponse"
                },
                "examples": {
                  "Driver Assignment": {
                    "$ref": "#/components/examples/EventInfoSuccessResponseExample"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request; request contains invalid data.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonAPIResponse"
                }
              }
            }
          },
          "401": {
            "description": "You are not authorized to access the resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonAPIResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden; You don't have access to access this resource",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonAPIResponse"
                }
              }
            }
          },
          "404": {
            "description": "The resource you were trying to reach is not found.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonAPIResponse"
                }
              }
            }
          },
          "409": {
            "description": "No information available for the provided request parameters.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonAPIResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests; You have sent to many requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonAPIResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonAPIResponse"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonAPIResponse"
                }
              }
            }
          }
        }
      }
    },
    "/stop/update/{serviceName}/{companyCode}": {
      "post": {
        "tags": [
          "Stop API"
        ],
        "summary": "Stop import",
        "description": "Import a Stop/Order for a certain Company\n",
        "operationId": "asyncStopImportProcess",
        "parameters": [
          {
            "name": "serviceName",
            "in": "path",
            "description": "serviceName refer to custom integration for the company, set to \"default\" if not using a custom integration",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 100
            }
          },
          {
            "name": "companyCode",
            "in": "path",
            "description": "Company Code of Stop",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImportResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request; request contains invalid data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImportFailureReason"
                }
              }
            }
          },
          "401": {
            "description": "You are not authorized to access the resource",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImportFailureReason"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden; You don't have access to access this resource",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImportFailureReason"
                }
              }
            }
          },
          "404": {
            "description": "The resource you were trying to reach is not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImportFailureReason"
                }
              }
            }
          },
          "415": {
            "description": "Unsupported Media Type, server refused to accept a request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImportFailureReason"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests; You have sent to many requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImportFailureReason"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImportFailureReason"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImportFailureReason"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "java",
            "source": "// Import classes:\nimport com.nuvizz.openapi.inbound.handler.ApiClient;\nimport com.nuvizz.openapi.inbound.handler.ApiException;\nimport com.nuvizz.openapi.inbound.handler.Configuration;\nimport com.nuvizz.openapi.inbound.handler.auth.*;\nimport com.nuvizz.openapi.inbound.handler.models.*;\nimport com.nuvizz.openapi.inbound.handler.StopApiApi;\n\n  public class Example {\n   public static void main(String[] args) {\n   ApiClient defaultClient = Configuration.getDefaultApiClient();\n   defaultClient.setBasePath(\"https://contact-support.nuvizz.com/api-gateway/webservices/nudeliverit/v5\");\n\n    // Configure HTTP basic authorization: Basic Authentication\n    HttpBasicAuth Basic Authentication = (HttpBasicAuth) defaultClient.getAuthentication(\"Basic Authentication\");\n    Basic Authentication.setUsername(\"YOUR USERNAME\");\n    Basic Authentication.setPassword(\"YOUR PASSWORD\");\n\n     StopApiApi apiInstance = new StopApiApi(defaultClient);\n     String serviceName = \"serviceName_example\"; // String | serviceName refer to custom integration for the company, set to \\\"default\\\" if not using a custom integration\n     String companyCode = \"companyCode_example\"; // String |  Company Code of Stop\n     DeliverItStop deliverItStop = new DeliverItStop(); // DeliverItStop | importRequest\n    try {\n      ImportResponse result = apiInstance.asyncStopImportProcess(serviceName, companyCode, deliverItStop);\n       System.out.println(result);\n       } catch (ApiException e) {\n        System.err.println(\"Exception when calling StopApiApi#asyncStopImportProcess\");\n        System.err.println(\"Status code: \" + e.getCode());\n        System.err.println(\"Reason: \" + e.getResponseBody());\n        System.err.println(\"Response headers: \" + e.getResponseHeaders());\n         e.printStackTrace();\n        }\n       }\n      }\n"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeliverItStop"
              },
              "examples": {
                "Stop Example": {
                  "$ref": "#/components/examples/StopJson"
                }
              }
            }
          },
          "description": "importRequest",
          "required": true
        }
      }
    },
    "/stop/sync/update/{companyCode}": {
      "post": {
        "tags": [
          "Stop API"
        ],
        "summary": "Stop import (Synchronous)",
        "security": [
          {
            "Bearer": []
          },
          {
            "BasicAuthentication": []
          }
        ],
        "description": "Import a Stop/Order for a certain Company\n",
        "operationId": "syncStopImportProcess",
        "parameters": [
          {
            "name": "companyCode",
            "in": "path",
            "description": "Company Code of Stop",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonImportResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request; request contains invalid data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImportFailureReason"
                }
              }
            }
          },
          "401": {
            "description": "You are not authorized to access the resource",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImportFailureReason"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden; You don't have access to access this resource",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImportFailureReason"
                }
              }
            }
          },
          "404": {
            "description": "The resource you were trying to reach is not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImportFailureReason"
                }
              }
            }
          },
          "415": {
            "description": "Unsupported Media Type, server refused to accept a request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImportFailureReason"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests; You have sent to many requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImportFailureReason"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImportFailureReason"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImportFailureReason"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "java",
            "source": "// Import classes:\nimport com.nuvizz.openapi.inbound.handler.ApiClient;\nimport com.nuvizz.openapi.inbound.handler.ApiException;\nimport com.nuvizz.openapi.inbound.handler.Configuration;\nimport com.nuvizz.openapi.inbound.handler.auth.*;\nimport com.nuvizz.openapi.inbound.handler.models.*;\nimport com.nuvizz.openapi.inbound.handler.StopApiApi;\n\n  public class Example {\n   public static void main(String[] args) {\n   ApiClient defaultClient = Configuration.getDefaultApiClient();\n   defaultClient.setBasePath(\"https://contact-support.nuvizz.com/api-gateway/webservices/nudeliverit/v5\");\n\n    // Configure HTTP basic authorization: Basic Authentication\n    HttpBasicAuth Basic Authentication = (HttpBasicAuth) defaultClient.getAuthentication(\"Basic Authentication\");\n    Basic Authentication.setUsername(\"YOUR USERNAME\");\n    Basic Authentication.setPassword(\"YOUR PASSWORD\");\n\n     StopApiApi apiInstance = new StopApiApi(defaultClient);\n     String companyCode = \"companyCode_example\"; // String |  Company Code of Stop\n     DeliverItStop deliverItStop = new DeliverItStop(); // DeliverItStop | importRequest\n    try {\n      ImportResponse result = apiInstance.syncStopImportProcess(companyCode, deliverItStop);\n       System.out.println(result);\n       } catch (ApiException e) {\n        System.err.println(\"Exception when calling StopApiApi#asyncStopImportProcess\");\n        System.err.println(\"Status code: \" + e.getCode());\n        System.err.println(\"Reason: \" + e.getResponseBody());\n        System.err.println(\"Response headers: \" + e.getResponseHeaders());\n         e.printStackTrace();\n        }\n       }\n      }\n"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeliverItStopSync"
              },
              "examples": {
                "Stop Example": {
                  "$ref": "#/components/examples/StopJsonSync"
                }
              }
            }
          },
          "description": "importRequest",
          "required": true
        }
      }
    },
    "/stop/partialUpdate/{companyCode}": {
      "post": {
        "tags": [
          "Stop API"
        ],
        "summary": "Stop Partial Update",
        "description": "Update a Stop/Order for a certain Company\n",
        "operationId": "syncStopPartialUpdate",
        "parameters": [
          {
            "name": "companyCode",
            "in": "path",
            "description": "Company Code of Stop",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonImportResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request; request contains invalid data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonImportResponse"
                }
              }
            }
          },
          "401": {
            "description": "You are not authorized to access the resource",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonImportResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden; You don't have access to access this resource",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonImportResponse"
                }
              }
            }
          },
          "404": {
            "description": "The resource you were trying to reach is not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonImportResponse"
                }
              }
            }
          },
          "415": {
            "description": "Unsupported Media Type, server refused to accept a request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonImportResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests; You have sent to many requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonImportResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonImportResponse"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonImportResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PartialStopUpdateReq"
              },
              "examples": {
                "Stop Example": {
                  "$ref": "#/components/examples/StopPartialJson"
                }
              }
            }
          },
          "description": "importRequest",
          "required": true
        }
      }
    },
    "/stop/stopdetail/update/{companyCode}": {
      "post": {
        "tags": [
          "Stop API"
        ],
        "summary": "Stop Details Update by StopId",
        "description": "Stop detail update import for a certain company.\n",
        "operationId": "syncStopDetailUpdate",
        "parameters": [
          {
            "name": "companyCode",
            "in": "path",
            "description": "Company Code of Stop",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonImportResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request; request contains invalid data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonImportResponse"
                }
              }
            }
          },
          "401": {
            "description": "You are not authorized to access the resource",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonImportResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden; You don't have access to access this resource",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonImportResponse"
                }
              }
            }
          },
          "404": {
            "description": "The resource you were trying to reach is not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonImportResponse"
                }
              }
            }
          },
          "415": {
            "description": "Unsupported Media Type, server refused to accept a request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonImportResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests; You have sent to many requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonImportResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonImportResponse"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonImportResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StopDetailUpdateReq"
              },
              "examples": {
                "Stop Detail Example": {
                  "$ref": "#/components/examples/StopDetailJson"
                }
              }
            }
          },
          "description": "importRequest",
          "required": true
        }
      }
    },
    "/stop/assign/carrier/{stopNbr}/{companyCode}": {
      "post": {
        "tags": [
          "Stop API"
        ],
        "summary": "Assign Stop to a Carrier",
        "description": "Assign a Stop to a Business Partner/Carrier using Carrier Code\n",
        "operationId": "asyncStopCarrierAssignmentProcess",
        "parameters": [
          {
            "name": "companyCode",
            "in": "path",
            "description": "Company Code of Stop",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 50
            }
          },
          {
            "in": "path",
            "name": "stopNbr",
            "description": "Unique alpha numeric value that refers to a Stop/Order",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImportResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request; request contains invalid data",
            "content": {
              "application/json": {
                "schema": {
[...]
